<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ pokemon?.name | titlecase }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="pokemon" class="pokemon-detail">
    <img [src]="pokemon.sprites.front_default" alt="{{ pokemon.name }}" />
    <p><strong>Altura:</strong> {{ pokemon.height }}</p>
    <p><strong>Peso:</strong> {{ pokemon.weight }}</p>
    <p><strong>Habilidades:</strong></p>
    <ul>
      <li *ngFor="let ability of pokemon.abilities">
        {{ ability.ability.name | titlecase }}
      </li>
    </ul>
  </div>
</ion-content>
