<ion-header>
  <ion-toolbar>
    <ion-title>Pokédex</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <app-search-bar (searchEvent)="searchPokemon($event)"></app-search-bar>
  <p style="color: red">hola???</p>

  <ion-list>
    <app-pokemon-card
      *ngFor="let poke of filteredPokemon"
      [pokemon]="poke"
      [pokemonId]="getPokemonId(poke.url)"
    >
    </app-pokemon-card>
  </ion-list>

  <p *ngIf="filteredPokemon.length === 0 && searchTerm">
    No se encontraron Pokémon
  </p>
  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
</ion-content>
